* {
    margin: 0.5em ;
}

.sobre {
    display: flex;
    text-align: center;
    align-items: center;
   

    
}
.sobre__paragrafo, .sobre__paragrafo__inicial {
    font-size: 20px;
    font-weight: 300; 
    padding: 1em 3em 1em 3em;
}
.sobre__paragrafo__inicial {
    padding: 0 10em 0 10em;
}   